.squared-input-container label {
  display: block;
  margin-bottom: 7px;

  font-size: inherit;
  font-weight: lighter;
}
.squared-input-container input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid #d7dbe0;
  border-radius: 3px;
  color: #5c5c5c;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  font-size: 1em;
  line-height: 1.25em;
}
