.site-button-component {
  font-weight: 800;
  color: white;
  background-color: #2c76dc;
  transition: background-color 0.3s ease-in-out;
  font-size: 21px;
  line-height: 2.2rem;
  min-width: 19rem;
  padding: 15px 10px;
  border: 1px solid #ffffff;
  outline: unset;
}
.site-button-component:hover {
  background-color: #1a4884;
  border: 1px solid #1a4884;
  box-shadow: none;
  color: #fff;
  outline: none;
}
